<div id="banner">
	<div class="outline"></div>

	
	<img class="pan" src="./images/bg.jpg" inline/>
	<img class="retina" id="border"  src="./images/border.png" alt="" inline>	
	<div class="frame frame1 pan">

		<!-- <img id="trace" class="trace" src="./frames/f3.jpg" inline/> -->

		<div class="hand arrow" id="arrow_green_1">
			<img src="./images/arrow_green_1.png" inline/>
			<canvas></canvas>
		</div>
		
		<div class="hand super" id="super1">
			<img src="./images/super1.png" inline/>
			<canvas></canvas>
		</div>

		<div class="hand super" id="super2">
			<img src="./images/super2.png" inline/>
			<canvas></canvas>
		</div>

		<div class="hand super" id="super3">
			<img src="./images/super3.png" inline/>
			<canvas></canvas>
		</div>

		<!-- <div class="hand arrow" id="arrow_yellow_1">
			<img src="./images/arrow_yellow_1.png" inline/>
			<canvas></canvas>
		</div> -->
		
		<img class="masker" id="arrow_yellow_1"  src="./images/arrow_yellow_1.png" alt="" inline>
		<img class="masker" id="arrow_yellow_2"  src="./images/arrow_yellow_2.png" alt="" inline>

		<img class="masker" id="arrow_green_2a"  src="./images/arrow_green_2a.png" alt="" inline>
		<img class="masker" id="arrow_green_2b"  src="./images/arrow_green_2b.png" alt="" inline>
		<img class="masker" id="arrow_green_2c"  src="./images/arrow_green_2c.png" alt="" inline>
		<img class="masker" id="arrow_green_2d"  src="./images/arrow_green_2d.png" alt="" inline>
		<img class="masker" id="arrow_green_2e"  src="./images/arrow_green_2e.png" alt="" inline>

	</div>
	
	

	<div class="frame frame2">
		<img class="retina" id="logo_pro"  src="./images/logo_pro.png" alt="" inline>
		<img class="retina" id="footer"  src="./images/footer.png" alt="" inline>
		<div class="hand arrow" id="cta_circle">
			<img src="./images/cta_circle.png" inline/>
			<canvas></canvas>
		</div>
		<img class="retina" id="cta"  src="./images/cta.png" alt="" inline>

		
		<div id="legalBtn"></div>
		<% include ../_common/templates/legal %>
	</div>
</div>