<div id="banner">
	<div class="outline"></div>

	<img class="retina" id="bg"  src="./images/bg.jpg" alt="" inline>
	<div class="frame frame1">
		
		

		
		<img class="retina" id="t1"  src="./images/t1.png" alt="" inline>
		<img class="retina" id="t2"  src="./images/t2.png" alt="" inline>
		<!-- <img class="retina" id="t3"  src="./images/t3.png" alt="" inline> -->
		<img class="retina" id="footer"  src="./images/footer.png" alt="" inline>
			

	</div>
	
	

	
</div>