@import '../../../_common/styles/common.scss';





#legalBtn{	
	@include pos(7, 198);
	opacity: 1;
	width: 36px;
	height: 25px;
	background-color: red;
	opacity: 0;
}

#banner{	
	width: 320px;
	height: 50px;
}

