@import '../../../_common/styles/common.scss';



.frame1 {
	opacity: 1;


	#f2{
		@include pos(300, 0);		
	}

	#arrow_yellow_1{
		@include pos(20, -10);		
	}

	#super{ @include pos(113, 9); }
	#arrow_green_1{ @include pos(143, 39); }
	#arrow_green_2{ @include pos(408, 41); }
	#arrow_green_3{ @include pos(446, 37); }
	#arrow_green_4{ @include pos(640, -11); }
	
	

	#logo_pro{
		opacity: 0;
	}
}

.frame2{
	#cta_circle{ @include pos-scale(211, 37, 1); }
}

#banner{	
	width: 728px;
	height: 90px;
}

.hand, .masker, .end{
	opacity: 0;
}


#legalBtn{	
	@include pos(7, 40);
	opacity: 1;
	width: 36px;
	height: 25px;
	background-color: red;
	opacity: 0;
}