<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">
		<img src="./images/bg.jpg" inline/>
		
		<div id="super1">
			<img src="./images/super1.png" inline/>
			<canvas></canvas>
		</div>

		<!-- <img class="masker" id="cta_O"  src="./images/arrow1.jpg" alt="" inline> -->
		<!-- <canvas id="canvas" ></canvas> -->

		<!-- <img class="masker" id="arrow2"  src="./images/arrow2.jpg" alt="" inline> -->
	</div>
</div>