<div id="banner">
	<div class="outline"></div>
	<div class="frame frame1">
		<img src="./images/bg.jpg" inline/>
		
		<div class="hand super" id="super1">
			<img src="./images/super1.png" inline/>
			<canvas></canvas>
		</div>

		<div class="hand super" id="super2">
			<img src="./images/super2.png" inline/>
			<canvas></canvas>
		</div>

		<div class="hand super" id="super3">
			<img src="./images/super3.png" inline/>
			<canvas></canvas>
		</div>

		<!-- <img id="f2" src="./frames/f2.jpg" inline/> -->

		<div class="hand arrow" id="arrow_yellow_1">
			<img src="./images/arrow_yellow_1.png" inline/>
			<canvas></canvas>
		</div>

		<img class="masker" id="arrow_green_2a"  src="./images/arrow_green_2a.png" alt="" inline>

		<div class="hand arrow" id="arrow_green_2a">
			<!-- <img src="./images/arrow_green_2a.png" inline/> -->
			<!-- <canvas></canvas> -->
		</div>


		<!-- <img class="masker" id="cta_O"  src="./images/arrow1.jpg" alt="" inline> -->
		<!-- <canvas id="canvas" ></canvas> -->

		<!-- <img class="masker" id="arrow2"  src="./images/arrow2.jpg" alt="" inline> -->
	</div>
</div>