<div id="banner">
	<div class="outline"></div>

	
	<img class="pan" src="./images/bg.jpg" inline/>
	
	<div class="frame frame1 pan">

		<!-- <img class="trace" src="./frames/f1.jpg" inline/> -->

		
		<div class="hand super" id="super">
			<img src="./images/super.png" inline/>
			<canvas></canvas>
		</div>

		

		<img class="masker" id="arrow_yellow_1"  src="./images/arrow_yellow_1.png" alt="" inline>
		<img class="masker" id="arrow_green_1"  src="./images/arrow_green_1.png" alt="" inline>
		<img class="masker" id="arrow_green_2"  src="./images/arrow_green_2.png" alt="" inline>
		<img class="masker" id="arrow_green_3"  src="./images/arrow_green_3.png" alt="" inline>
		<img class="masker" id="arrow_green_4"  src="./images/arrow_green_4.png" alt="" inline>

		<img class="retina" id="logo_pro"  src="./images/logo_pro.png" alt="" inline>
		
	</div>
	
	

	<div class="frame frame2">
		
			
			<img class="retina" id="footer"  src="./images/footer.png" alt="" inline>

			<div class="hand arrow" id="cta_circle">
				<img src="./images/cta_circle.png" inline/>
				<canvas></canvas>
			</div> 

			
			<img class="retina" id="cta"  src="./images/cta.png" alt="" inline>

		 

		<div id="legalBtn"></div>
		<% include ../_common/templates/legal %>
	</div>
</div>