

@import '../../../_common/styles/common.scss';



.frame1 {
	opacity: 1;
}



#banner{
	font-size: 20px;
	color: #333;
	width: 600px;
	height: 700px;
}

#cta_O{
	// @include pos(120, 220);	

	// opacity: 0;
}
